@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: theme('colors.cultured');
}

main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 800px;
  margin: 12px auto;
  background-color: theme('colors.white');
  box-shadow: 0 4px 15px 2px rgba(0, 0, 0, 0.35);
  padding: 36px 44px;
  gap: 32px;
}
