.content {
  width: 100%;
  max-width: calc(80% - 16px);

  &__header {
    margin-bottom: 32px;

    &__title {
      font-family: theme('fontFamily.head');
      font-size: 36px;
      line-height: 1;
      margin-bottom: 8px;
    }
  }

  &__spec {
    &__title {
      font-weight: 600;
      margin-bottom: 4px;
      text-transform: uppercase;
      color: theme('colors.blue');
    }

    &__standing {
      font-family: theme('fontFamily.head');
      display: flex;
      flex-direction: column;

      & > * {
        display: inline-flex;
      }
    }
  }
}
